body
{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.description .maplibregl-popup-content
{
    font-size: 12px;
    background-color: white;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    overflow: hidden;
    box-shadow: 0 3px 14px rgba(0,0,0,.4);
    padding: 13px 19px;
}
#map
{
    width: 100%;
    height: 100%;
}
#ctrl
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 4px 12px;
    background-color: hsla(0,0%,100%,.8);
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 16px;
    z-index: 2;
}
#ctrl select
{
    outline: none;
    border: 0px;
    background-color: transparent;
    font: inherit;
}
#ctrl a
{
    color: inherit;
    text-decoration: none;
}
#ctrl a:hover
{
    color: #0078a8;
    text-decoration: underline;
}
#key
{
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100px;
    margin: 10px;
    padding: 12px 8px 16px 8px;
    background-color: hsla(0,0%,100%,.8);
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 16px;
    z-index: 2;
}
#key .title
{
    font-size: 18px;
    font-weight: 700;
    padding-left: 12px;
}
#key td
{
    padding-top: 4px;
}
#key td:first-child
{
    padding-left: 10px;
    min-width: 100px
}
#key td:last-child
{
    padding-right: 10px;
    text-align: right;
}
#key tr:last-child td:first-child
{
    padding-left: 32px;
}
#key tr.false
{
    color: grey;
}
#key a
{
    font: inherit;
    color: inherit;
    text-decoration: none;
}
#key a:hover
{
    text-decoration: underline;
}
#key .footer
{
    font-size: 9px;
    text-align: right;
    padding: 4px 14px 0 0;
}
.description .name
{
    font-size: 16px;
    color: rgb(0, 120, 168);
    padding: 0 0 6px 2px;
}
.description td
{
    font-size: 12px;
    color: rgb(51, 51, 51);
    vertical-align: top;
}
.description td.neighbors div
{
    padding-bottom: 2px;
}
.description td.neighbors .bearing
{
    position: relative;
    top: -2px;
    font-size: 9px;
}
.description td a,
.description .name a
{
    color: #0078a8;
    text-decoration: none;
}
.description td a:hover,
.description a:hover
{
    text-decoration: underline;
}
.description td.neighbors span
{
    color: grey;
    font-size: 9px;
}
.description td:first-child
{
    width: 80px;
}
.mark
{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: grey;
    vertical-align: bottom;
}
.maplibregl-marker
{
    cursor: pointer;
}
#mm {
    display: none;
}
.measure #mm {
    display: inline-block;
}
#mb,
#md
{
    display: inline-block;
    min-width: 20px;
    text-align: right;
}
.link-description .maplibregl-popup-content
{
    font-size: 12px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 14px rgba(0,0,0,.4);
    padding: 6px 12px;
}
.link-description a
{
    color: #0078a8;
    text-decoration: none;
}
.link-description a:hover
{
    text-decoration: underline;
}
.link-description div
{
    font-size: 10px;
    line-height: 14px;;
}
.measure .maplibregl-canvas
{
    cursor: crosshair;
}
#ff
{
    display: none;
}
.find #ff
{
    display: inline-block;
}
#ff input {
    margin-left: 2px;
    font: inherit;
    border: 1px solid grey;
    padding: 0 0 0 2px;
}
