//
// This is not a valid configuration file,
// but is here to illustrate the various options available.
//
const config = {
    title: "AREDN Map",
    lat: 0.0,
    lon: 0.0,
    zoom: 8,
    idle: 0 | ... seconds ...,
    geoapify: "... key ...",
    maptiler: "... key ...",
    sources: {
        openstreetmaps: { ... },
        opentopomap: { ... },
        landsat: { ... }
    },
    colors: {
        rf9: "magenta",
        rf2: "purple",
        rf3: "blue",
        rf5: "orange",
        tun: "grey",
        xlink: "red",
        supertun: "green",
        longdtd: "limegreen",
    },
    tour: [
        "<zoom/lat/lon[/pitch/bearing]>",
        "<node name>",
        "rotate <seconds>",
        "wait <seconds>",
        "<map>",
        "open <node name>",
        "random",
        ....
    ]
}
